.order {
  max-width: 30rem;
  background-color: #e7e7e7;
  color: white;
}

.order h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  padding-bottom: 8px;
}

.order h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
  color: #3a3a3a;
}

.order button {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
